In [3]:
import pandas as pd
import matplotlib.pyplot as plt
# NO MODIFICAR EL CSV QUE SE LEE

In [9]:
data = pd.read_csv('datos.csv', header = None)
columns = ['cuota_local', 'cuota_empate', 'cuota_visitante','mas_2.5_local','mas_2.5_visitante','local','visitante','fecha','goles_local','goles_visitante']
data.columns = columns

In [12]:
data.drop(['local', 'visitante', 'fecha'], axis=1, inplace=True)

In [13]:
data.describe()

,cuota_local,cuota_empate,cuota_visitante,mas_2.5_local,mas_2.5_visitante,goles_local,goles_visitante
count,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000
mean,2.200105,3.487368,4.407895,2.188211,1.735579,1.400000,0.947368
std,0.625678,0.458314,1.853605,0.233539,0.260493,1.095445,1.104810
min,1.320000,2.950000,1.720000,1.500000,1.500000,0.000000,0.000000
25%,1.750000,3.150000,3.100000,2.065000,1.600000,0.500000,0.000000
50%,2.050000,3.400000,4.000000,2.200000,1.680000,1.000000,1.000000
75%,2.525000,3.625000,5.275000,2.350000,1.770000,2.000000,1.000000
max,4.700000,5.500000,13.000000,2.600000,3.200000,4.000000,5.000000

In [16]:
data.corr()

,cuota_local,cuota_empate,cuota_visitante,mas_2.5_local,mas_2.5_visitante,goles_local,goles_visitante
cuota_local,1.000000,-0.549241,-0.792525,0.206244,-0.035596,-0.272307,0.300725
cuota_empate,-0.549241,1.000000,0.860817,-0.362894,0.095941,0.251730,-0.243990
cuota_visitante,-0.792525,0.860817,1.000000,-0.252477,0.043571,0.283336,-0.291950
mas_2.5_local,0.206244,-0.362894,-0.252477,1.000000,-0.829629,-0.257486,-0.037889
mas_2.5_visitante,-0.035596,0.095941,0.043571,-0.829629,1.000000,0.168807,0.064610
goles_local,-0.272307,0.251730,0.283336,-0.257486,0.168807,1.000000,0.140642
goles_visitante,0.300725,-0.243990,-0.291950,-0.037889,0.064610,0.140642,1.000000